form {
	margin-top: 30px;
}

form .input-block + .input-block {
	margin-top: 20px;
}

form .input-group {
	margin-top: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
}

form .input-group .input-block {
	margin-top: 0;
}

form .input-block label {
	color: #ACACAC;
	font-size: 14px;
	font-weight: bold;
	display: block;
}

form .input-block input {
	width: 100%;
	height: 32px;
	font-size: 14px;
	color: #666;
	border: 0;
	border-bottom: 1px solid #EEE;
}

form button[type=submit] {
	width: 100%;
	border: 0;
	margin-top: 30px;
	background: #7D40E7;
	border-radius: 2px;
	padding: 15px 20px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
	transition: background 0.3s;
}

form button[type=submit] :hover {
	background: #6931CA;
}
